= render Ui::CardComponent.new do
  .space-y-4
    - Array(editor_rows).each do |row|
      = render(Editors::EditorRowComponent.new(row: row, draft: draft, edit_affordance_id: edit_affordance_id, current_path: current_path))
