-# app/components/text_field_component.html.haml
.space-y-1
  = @form.label @name, @label, for: @id, class: label_classes
  = @form.text_field @name, **merged_html_options

  - if error?
    %p.text-sm.text-ls5-red-7= errors.to_sentence
