%h1{ class: "mb-4 text-4xl font-extrabold leading-none tracking-tight text-ls5-blue-8 md:text-5xl lg:text-6xl" }
  = label if label

%div{ class: card_classes }
  %p{ class: "font-normal text-ls5-blue-7" }
    = content
