- builder_screen_params = @screen_id == "main" ? {} : { screen_id: @screen_id }

= turbo_stream.replace "edit_affordance_builder_suggestions" do
  = render "suggestions", builder_screen_params: builder_screen_params

= turbo_stream.replace "edit_affordance_builder_rows" do
  = render "rows", builder_screen_params: builder_screen_params
