- if flash.any?
  #flash.space-y-2
    - flash.each do |type, message|
      - next if message.blank?
      = render AlertComponent.new(variant: type.to_sym == :alert ? :destructive : :default) do
        = message
