-# app/components/text_field_component.html.haml
.space-y-1
  = render LabelComponent.new(text: @label, for_id: @id)
  = render InputComponent.new(name: field_name, value: field_value, html_options: merged_html_options)

  - if error?
    %p.text-sm.text-destructive= errors.to_sentence
