%p{style: "color: green"}= notice

This is where schemas, fields, and questionable decisions live.

- content_for :title, "Rooms"

%h1 Rooms

%div{id: "rooms"}
  - @rooms.each do |room|
    = render room
    %p
      = link_to "Show this room", room

= link_to "New room", new_room_path
