/ ===== Group Yellows 55°-26° ===== /
.zer1-yellow { color: hsl(55,78%,84%); } 
.zer1-yellow-bg { background-color: #F7F3B7;}
.zer2-yellow { color: hsl(47,69%,71%); } 
.zer2-yellow-bg { background-color: #E8D282;}
.zer3-yellow { color: hsl(38,61%,62%); } 
.zer3-yellow-bg { background-color: #DAB163;}
.zer4-yellow { color: hsl(37,88%,58%); } 
.zer4-yellow-bg { background-color: #F3A833;}
.zer5-yellow { color: hsl(26,80%,56%); } 
.zer5-yellow-bg { background-color: #E98537;}
.zer6-yellow { color: hsl(33,56%,55%); } 
.zer6-yellow-bg { background-color: #CE9248;}
.zer7-yellow { color: hsl(28,44%,44%); } 
.zer7-yellow-bg { background-color: #A26D3F;}
.zer8-yellow { color: hsl(26,39%,31%); } 
.zer8-yellow-bg { background-color: #6E4C30;}
/ ===== Group Reds 24° - 353° ===== /
.zer1-red { color: hsl(24,48%,92%); } 
.zer1-red-bg { background-color: #F6E8E0;}
.zer2-red { color: hsl(355,100%,91%); } 
.zer2-red-bg { background-color: #FFD1D5;}
.zer3-red { color: hsl(353,100%,82%); } 
.zer3-red-bg { background-color: #FFA2AC;}
.zer4-red { color: hsl(355,93%,71%)    ; } 
.zer4-red-bg { background-color: #FA6E79;}
.zer5-red { color: hsl(13,73%,55%); } 
.zer5-red-bg { background-color: #DE5D3A;}
.zer6-red { color: hsl(354,83%,54%)    ; } 
.zer6-red-bg { background-color: #EC273F;}
.zer7-red { color: hsl(10,43%,40%); } 
.zer7-red-bg { background-color: #94493A;}
.zer8-red { color: hsl(5,20%,25%); } 
.zer8-red-bg { background-color: #4D3533;}
/ ===== Group violet 269° - 344° ===== /
.zer1-violet { color: #deceed; }
.zer1-violet-bg { background-color: hsl(271,46%,87%); }
.zer2-violet { color: #cc99ff; }
.zer2-violet-bg { background-color: hsl(270,100%,80%); }
.zer3-violet { color: hsl(269,11%,69%)    ; } 
.zer3-violet-bg { background-color: #B0A7B8;}
.zer4-violet { color: hsl(324,41%,63%); } 
.zer4-violet-bg { background-color: #C878AF;}
.zer5-violet { color: hsl(327,33%,45%)    ; } 
.zer5-violet-bg { background-color: #9A4D76;}
.zer6-violet { color: hsl(344,62%,42%)    ; } 
.zer6-violet-bg { background-color: #AC2847;}
.zer7-violet { color: hsl(333,48%,28%); } 
.zer7-violet-bg { background-color: #6B2643;}
.zer8-violet { color: #2c1e31; }
.zer8-violet-bg { background-color: hsl(284,24%,15%); }
/ ===== blue 180° - 267° ===== /
.zer1-blue { color: #36c5f4; }
.zer1-blue-bg { background-color: hsl(195,90%,58%); }
.zer2-blue { color: #8c78a5; }
.zer2-blue-bg { background-color: hsl(267,20%,56%); }
.zer3-blue { color: #3388de; }
.zer3-blue-bg { background-color: hsl(210,72%,54%); }
.zer4-blue { color: #3859b3; }
.zer4-blue-bg { background-color: hsl(224,52%,46%); }
.zer5-blue { color: hsl(244,21%,45%); } 
.zer5-blue-bg { background-color: #5E5B8C;}
.zer6-blue { color: hsl(244,27%,31%)    ; } 
.zer6-blue-bg { background-color: #3E3B65;}
.zer7-blue { color: hsl(180,100%,27%); } 
.zer7-blue-bg { background-color: #008B8B;}
.zer8-blue { color: hsl(187,39%,19%)    ; } 
.zer8-blue-bg { background-color: #1E4044;}
/ ===== green 89° - 169° ===== /
.zer1-green { color: hsl(120,39%,88%)    ; } 
.zer1-green-bg { background-color: #D3EED3;}
.zer2-green { color: hsl(106,32%,69%); } 
.zer2-green-bg { background-color: #A6CB96;}
.zer3-green { color: hsl(168,70%,67%)    ; } 
.zer3-green-bg { background-color: #6DEAD6;}
.zer4-green { color: hsl(89,73%,61%); } 
.zer4-green-bg { background-color: #9DE64E;}
.zer5-green { color: hsl(116,40%,52%); } 
.zer5-green-bg { background-color: #5AB552;}
.zer6-green { color: hsl(145,26%,51%); } 
.zer6-green-bg { background-color: #62A477;}
.zer7-green { color: hsl(142,55%,34%)    ; } 
.zer7-green-bg { background-color: #26854C;}
.zer8-green { color: hsl(169,100%,20%)    ; } 
.zer8-green-bg { background-color: #006554;}
/ ===== B&W ===== */
.zer0-fff { color: hsl(0,0%,100%); } 
.zer0-fff-bg { background-color: #fff;}
.zer0-blackish { color: #10121c; }
.zer0-blackish-bg { background-color: hsl(230,27%,9%); }

