= turbo_stream.update "editor" do
  = render Drafts::EditorPageComponent.new(page: @page)

= turbo_stream.update @draft.review_dom_id do
  = render "drafts/review", diff_rows: @page.diff_rows, draft: @page.draft
