= turbo_frame_tag "main_content" do
  = turbo_frame_tag "editor" do
    - if @draft.schema_document?
      = render "schema_editor", domain: @domain, document: @document, draft: @draft, path: @path
    - else
      = render "document_editor", domain: @domain, document: @document, draft: @draft, path: @path
