%h1 Schema
%p
  Domain:
  = @domain.name

%p
  Key:
  = @document.key


= button_to "Edit schema",
  document_draft_path(@document),
  method: :post,
  class: "inline-flex items-center rounded-lg bg-ls5-blue-4 px-3 py-2 font-medium text-ink-inverse hover:bg-ls5-blue-5"

%pre
  = JSON.pretty_generate(@document.head_revision.body)
